.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form-field {
  width: 400px;
}

.signup-form-button {
  width: 400px;
}

.ui.form .field > label {
  font-weight: 200;
}

@media (max-width: 400px) {
  .signup-form-field {
    width: 70%;
  }
  .signup-form-button {
    width: 70%;
  }
}
